.legalHeading {
    font-size: 3.5rem;
    color: #ffffff;
    text-align: center;
    -webkit-letter-spacing: 0em;
    -moz-letter-spacing: 0em;
    -ms-letter-spacing: 0em;
    letter-spacing: 0em;
    line-height: 60px;
    font-weight: 400;
    background: linear-gradient(90deg, #ffe259 0%, #ffa751 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: personal !important;
    opacity: 0.99;
    padding: 0;
  }
  