@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "personal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/default.ttf);
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Navigation Bar */
.PC {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Mobile {
  display: none;
}

.RightContainer {
  display: flex;
  align-items: center;
  margin: 0 2vw 0 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 2px solid #fff;
  padding: 0 3rem;
  height: 80px;
  width: 72vw;
  justify-content: space-between;
}

.LeftNav {
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RightNav {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Line {
  height: 3px;
  width: 57px;
  background: #fff;
  position: absolute;

  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, 0);
  bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: fixed;
  top: 0;

  transition: 0.5s linear;
  width: 1800px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 2.5rem 0 0 0;
}

.Hactive {
  transition: 0.5s linear;
  font-size: 1.5rem;
}
.H {
  transition: 0.5s linear;
  font-size: 2rem;
}
.Logo {
  width: 160px;
  height: 170px;
  transition: 0.5s linear;
  margin: 0 0 0 2vw;
  color: #000;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* background: aqua; */
  width: 58rem;
  text-decoration: none;
  /* font-size: 1rem !important ; */
  /* margin-right: 10rem; */
  /* background: yellow;  */
  margin: 0 3rem 0 0;
}

.list * {
  box-sizing: border-box;
  transition: all 0.35s ease;
  font-size: 24px;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500;
}

.list li {
  display: inline-block;
  list-style: outside none none;
}

.list a {
  /* padding: .5em .8em; */

  position: relative;
  text-decoration: none;
}

.list a:hover:before,
.list a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.list a:hover {
  color: rgba(11, 200, 3, 0.45) !important;
}

@media (max-width: 1800px) {
  .nav {
    width: 100%;
  }
  .Logo {
    width: 120px;
    height: 130px;
    margin: 0 0 0 5vw;
  }

  .RightContainer {
    width: 80vw;
  }
}

@media (max-width: 1400px) {
  .list {
    margin: 0 1rem 0 0;
  }
  .Logo {
    margin: 0 0 0 2rem;
  }
  .LeftNav {
    width: 40rem;
  }
}

@media (max-width: 1300px) {
  .list {
    margin: 0 1rem 0 0;
  }
  .Logo {
    margin: 0 0 0 2rem;
  }

  .LogoActive {
    margin: 0 0 0 2rem;
  }
}

@media (max-width: 1100px) {
  .PC {
    display: none;
  }
  .Mobile {
    display: block;
  }
  .nav {
    justify-content: space-between;
    position: fixed;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .none {
    display: none;
  }

  .list {
    display: none;
  }
  /* .Logo{
      width: 37px;
      height: 50px;
      transition:  0.5s linear;
      
  }

  .LogoActive{
    width: 37px;
    height: 50px;
    transition:  0.5s linear;
   
} */
}

@media (max-width: 768px) {
  .Logo {
    transition: 0.5s linear;
    margin: 0;
  }

  .LogoActive {
    transition: 0.5s linear;
    margin: 0;
  }
}
/* Navigartion Bar Ends */
/* Navigartion Bar Ends */
/* Navigartion Bar Ends */
/* Navigartion Bar Ends */
/* Navigartion Bar Ends */
/* Navigartion Bar Ends */

.dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  z-index: 10;
  list-style-type: none;
}
.dots-container li {
  display: inline-block;
  padding: 5px;
}
.dots-container li.active button {
  color: #ffa751;
}
.dots-container li button {
  color: #fff;
  background-color: transparent;
  border: none;
}
.slider .dots-container li button:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}
