@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "personal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/default.ttf);
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 62, 62, 62;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: clip;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(62, 62, 62) 100%);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Navigation Bar */
.PC {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Mobile {
  display: none;
}

.RightContainer {
  display: flex;
  align-items: center;
  margin: 0 3vw 0 0;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  padding: 0 1rem;
  height: 80px;
  width: 72vw;
  justify-content: space-around;
}

.LeftNav {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RightNav {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Line {
  height: 2px;
  width: 50px;
  background: #fff;
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  border-radius: 999px;
  transform: translate(-50%, 0);
  bottom: -10px;
}

.nav {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  position: absolute;
  top: 0;
  transition: 0.5s linear;
  width: 1800px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 2.5rem 0 0 0;
}

.Hactive {
  transition: 0.5s linear;
  font-size: 1.5rem;
}
.H {
  transition: 0.5s linear;
  font-size: 2rem;
}
.Logo {
  transition: 0.5s linear;
  margin: 0 0 0 2vw;
  color: #000;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* background: aqua; */
  width: 58rem;
  text-decoration: none;
  /* font-size: 1rem !important ; */
  /* margin-right: 10rem; */
  /* background: yellow;  */
  margin: 0 3rem 0 0;
}

.list * {
  box-sizing: border-box;
  transition: all 0.35s ease;
  font-size: 22px;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 300;
}

.list li {
  display: inline-block;
  list-style: outside none none;
}

.list a {
  /* padding: .5em .8em; */

  position: relative;
  text-decoration: none;
}

.list a:hover:before,
.list a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.list a:hover {
  color: #f1af1a !important;
}

@media (max-width: 1800px) {
  .nav {
    width: 100%;
  }
  .Logo {
    width: 150px;
    height: 140px;
    margin: 0 2vw 0 1vw; 
  }

  .RightContainer {
    width: 83vw;
  }
}
@media (max-width: 1400px) {
  .list {
    margin: 0 1rem 0 0;
  }
  .Logo {
    margin: 0 1rem 0 1rem;
  }
  .LeftNav {
    width: 40rem;
  }
  .left-nav-font {
    font-size: 1.2rem;
  }
  .right-nav-font {
    display: block;
    font-size: 0.6rem;
  
  }
}

@media (max-width: 1300px) {
  .list {
    margin: 0 1rem 0 0;
  }
  .Logo {
    margin: 0 1rem 0 1rem;
  }

  .LogoActive {
    margin: 0 0 0 2rem;
  }

  .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 32rem;
    text-decoration: none;
    margin: 0 1rem 0 0;
  }
}

@media (max-width: 1100px) {
  .PC {
    display: none;
  }
  .Mobile {
    display: block;
  }
  .nav {
    justify-content: space-between;
    position: absolute;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .none {
    display: none;
  }
  .list {
    display: none;
  }
  /* .Logo{
    width: 37px;
    height: 50px;
    transition:  0.5s linear;
    
  }
  
  .LogoActive{
    width: 37px;
    height: 50px;
    transition:  0.5s linear;
    
  } */

  .RightContainer {
    background: none;
    backdrop-filter: none;
    border: none;
  }
}

@media (max-width: 768px) {
  .Logo {
    transform: scale(0.75);
    transition: 0.5s linear;
    margin: 0 0 0 2vw;
  }

  .LogoActive {
    transition: 0.5s linear;
    margin: 0;
  }
}
/* Navigartion Bar Ends */

/* aos custom animations start*/
[data-aos="rotate-c"] {
  transform: rotate(-90deg);
  transition-property: transform;
}

[data-aos="rotate-c"].aos-animate {
  transform: rotate(40deg);
}

/* aos custom animations sends*/

@media only screen and (max-width: 1000px) {
  input::placeholder {
    text-align: center;
  }
}

/*accordian*/

.acc-kontainer {
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .acc-kontainer {
    width: 90%;
  }
}
.acc-kontainer .acc-body {
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  line-height: 28px;
  padding: 0 20px;
  box-sizing: border-box;
}

.acc-kontainer label {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-weight: 400;
  box-sizing: border-box;
  z-index: 100;
}

.acc-kontainer input {
  display: none;
}

.acc-kontainer label:before {
  content: "﹢";
  font-weight: bolder;
  float: right;
}

.acc-kontainer input:checked + label {
  color: rgba(255, 212, 87, 1);
}

.acc-kontainer input:checked + label:before {
  content: "▽";
}

.acc-kontainer input:checked ~ .acc-body {
  height: auto;
  color: #fff;
  font-size: 12px;
  padding: 20px;
}

.activeLine {
  color: blueviolet;
  font-weight: bold;
  border-bottom: 2px solid white;
  margin-bottom: -12px;
}
.fixed-position {
  position: fixed;
}

.tablist {
  width: 22vw;
  height: 100%;
  padding-top: 12vh;
  background: linear-gradient(181.16deg, #ff7917 -26.31%, #ffdd2d 128.88%);
}

@media (max-width: 768px) {
  .tablist {
    min-width: 28vw;
  }
}
@media (max-width: 600px) {
  .tablist {
    min-width: 40vw;
  }
}

.react-tabs__tab--selected {
  background: black;
  color: white;
  border-left: 8px solid white;
}

.focusChange {
  cursor: pointer;
  padding: 20px;
  outline: none;
}

.btn-hamburger {
  margin-top: 4vw;
  background-repeat: no-repeat;
  background-image: url("/content/hamburger.png");
  background-size: contain;
  display: none;
  height: 20px;
  width: 20px;
}

@media (max-width: 600px) {
  .btn-hamburger {
    display: block;
  }
}

.active {
  width: 0px;
  min-width: 0px;
}
@media (min-width: 769px) {
  .active {
    width: 22vw;
    min-width: 22vw;
  }
}
.tabscontent.active {
  width: 100vw;
}


@media (min-width: 768px) {
  .mobText {
    display: none;
  }}
